.DS_store
.config.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
*.backup
*_cred*
coverage
credentials.json
flows*.json
nodes/red-stack-nodes/
node_modules
public
locales/zz-ZZ
nodes/core/locales/zz-ZZ
!packages/node_modules
packages/node_modules/@red-stack/editor-client/public
!test/**/node_modules
docs
!packages/node_modules/**/docs
